html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*************************/

* {
    transition: 0.5s;
}

body {
    color: #454545;
}

nav {
    width: 200px;
    height: 100vh;
    background-color: #928484;
    position: fixed;
    left: 0px;
    z-index: 9;
}

.space {
    width: 200px;
    height: 100vh;
    float: left;
}

.nav-bar {
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    color: white;
}

header {
    overflow: hidden;
    height: 80px;
    background-color: #FC9D9D;
    position: fixed;
    left: 200px;
    width: calc(100% - 200px);
    color: back;
}

header h1 {
    line-height: 80px;
    padding-left: 70px;
    float: left;
}

header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}

header li {
    margin-right: 50px;
}

main {
    overflow: hidden;
    background-color: #EEF9FF;
    height: 1000px;
    padding-top: 130px;
    padding-left: 70px;
}

.hidden-space {
    width: 0px;
}

.hidden-nav {
    left: -200px;
}

.header-onclick {
    width: 100%;
    left: 0px;
}

.header-scroll {
    height: 50px;
    background-color: #FCECEA;
}

.header-scroll-h1 {
    line-height: 50px;
}

.header-scroll-ul {
    height: 50px;
}

.header-scroll-nav {
    margin-top: 17px;
}

.nav-bar-white {
    color: #928484;
}